.bg-black {
  background: #000;
  color: #fff; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 33.33333%; }
  #main-header .port-item .fa {
    font-size: 2em; }
  #main-header .port-item:hover {
    cursor: pointer;
    opacity: 0.8; }

#main-footer .fa {
  font-size: 3em; }
