.bg-black {
  background: #000;
  color: #fff; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 33.33333%; }
  #main-header .port-item .fa {
    font-size: 2em; }
  #main-header .port-item:hover {
    cursor: pointer;
    opacity: 0.8; }

.project {
  height: 13rem;
  margin-bottom: 1rem; }
  .project__img {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: block;
    transform: scale(0.8);
    box-shadow: 0.7rem 1rem 1rem rgba(153, 153, 153, 0.6);
    transition: all .3s; }
  .project__caption {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 193, 7, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    border-radius: 5px; }
  .project__link:hover .project__caption {
    opacity: 1;
    visibility: visible;
    box-shadow: 0.7rem 1.2rem 1rem rgba(153, 153, 153, 0.6); }
  .project__link:hover .project__img {
    transform: scale(1); }
  .project__title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    font-weight: bold; }

#main-footer .fa {
  font-size: 3em; }
